# **19CSE305: MACHINE LEARNING LAB**
## Using Pandas and Python to Explore Your Dataset

Laxman K R

CSE Department

**Excercise 1**

*   Import Pandas in Python with the pd alias.
*   use .read_csv() to read in your dataset and store it as a DataFrame object in the variable data.

In [2]:
import pandas as pd
print(pd.__version__)

1.5.0

In [3]:
#Read dataset
data=pd.read_csv('data.csv')
print(type(data)\

<class 'pandas.core.frame.DataFrame'>

**Excercise 2**

Explore *read_json(), read_html(), and read_sql_table()*
Click [here](https://realpython.com/pandas-read-write-files/) to learn how to work with these file formats,

In [4]:
#Display the number of rows in the dataset
rows=len(data)
print("Number of rows: ",rows)
#Display the dimension of the  dataset
dim=data.shape
print("Dimension: ",dim)

Number of rows:  169
Dimension:  (169, 4)

In [5]:
#Print a part of the dataset
print(data)
print(type(data))

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]
<class 'pandas.core.frame.DataFrame'>

In [6]:
#Print the entire dataset
print(data.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

**Excercise 3:** Viewing the Data

One of the most used method for getting a quick overview of the DataFrame, is the head() method.

The head() method returns the headers and a specified number of rows, starting from the top.

In [7]:
print("The first five rows of the dataset: ")
data.head()#by default print the five rows

The first five rows of the dataset:

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [8]:
print("The first 10 rows of the dataset: ")
data.head(10)#by default print the five rows

The first 10 rows of the dataset:

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.0
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1
9        60     98       124     269.0

In [9]:
print("The last five rows of the dataset: ")
data.tail()#by default print the five rows

The last five rows of the dataset:

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [10]:
print("The last 10 rows of the dataset: ")
data.tail(10)#by default print the five rows

The last 10 rows of the dataset:

     Duration  Pulse  Maxpulse  Calories
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

**Excercise 3** Info About the Data

The DataFrames object has a method called info(), that gives you more information about the data set.

Every columns of a dataframe contain values of a specific data type.

In [11]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None

**Showing Basics Statistics**
Display the overview of the values each column contains. You can do this with  **.describe()**

This function shows you some basic descriptive statistics for all numeric columns

In [12]:
data.describe()

         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.790244
std     42.299949   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000

**.describe()**only analyzes numeric columns by default, but you can provide other data types if you use the include parameter:

In [13]:
data[id]='h'
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Duration       169 non-null    int64
 1   Pulse          169 non-null    int64
 2   Maxpulse       169 non-null    int64
 3   Calories       164 non-null    float64
 4   1885373603296  169 non-null    object
dtypes: float64(1), int64(3), object(1)
memory usage: 6.7+ KB
None

In [14]:
data.describe(include=object)

       1885373603296
count            169
unique             1
top                h
freq             169

**Excercise 4:**Exploring Your Dataset

1.  To examine how often specific values occur in a column:
2.   List item

In [15]:
print("Frequecy of each value in the Duration column\n")
data["Duration"].value_counts()

Frequecy of each value in the Duration column

60     79
45     35
30     16
20      9
90      8
150     4
180     3
120     3
210     2
160     2
15      2
75      2
80      1
300     1
270     1
25      1
Name: Duration, dtype: int64

In [16]:
print("Frequecy of each value in the Maxpulse  column\n")
data["Maxpulse"].value_counts()

Frequecy of each value in the Maxpulse  column

120    16
130     9
127     9
136     8
124     7
131     6
132     5
151     5
129     5
138     4
137     4
125     4
146     4
112     4
128     4
134     4
150     4
135     4
100     3
126     3
141     3
140     3
122     3
145     3
139     3
170     2
107     2
169     2
143     2
168     2
153     2
175     2
119     2
123     2
133     2
113     1
147     1
149     1
162     1
156     1
184     1
108     1
110     1
148     1
171     1
103     1
121     1
157     1
182     1
101     1
118     1
115     1
160     1
152     1
172     1
144     1
167     1
Name: Maxpulse, dtype: int64

**Excercise 5**: Querying Your Dataset

Create a new DataFrame that contains only those rows whose calories>average of calories

In [17]:
data["Calories"]

0      409.1
1      479.0
2      340.0
3      282.4
4      406.0
       ...
164    290.8
165    300.0
166    310.2
167    320.4
168    330.4
Name: Calories, Length: 169, dtype: float64

In [18]:
newdatf=data[data["Calories"]>data["Calories"].mean()]
newdatf.shape
newdatf

     Duration  Pulse  Maxpulse  Calories 1885373603296
0          60    110       130     409.1             h
1          60    117       145     479.0             h
4          45    117       148     406.0             h
13         60    104       132     379.3             h
29         60    102       129     380.3             h
35         60    114       140     415.0             h
43         60    111       138     400.0             h
44         60    111       131     397.0             h
46         60    109       153     387.6             h
49         60    111       139     397.6             h
50         60    107       136     380.2             h
51         80    123       146     643.1             h
53         60    118       151     486.0             h
55         60    121       146     450.7             h
56         60    118       121     413.0             h
60        210    108       160    1376.0             h
61        160    110       137    1034.4             h
62        160    109       135     853.0             h
65        180     90       130     800.4             h
66        150    105       135     873.4             h
67        150    107       130     816.0             h
69        300    108       143    1500.2             h
70        150     97       129    1115.0             h
71         60    109       153     387.6             h
72         90    100       127     700.0             h
73        150     97       127     953.2             h
75         90     98       125     563.2             h
78        120    100       130     500.4             h
79        270    100       131    1729.0             h
83        120    100       130     500.0             h
87        120    100       157    1000.1             h
90        180    101       127     600.1             h
99         90     93       124     604.1             h
101        90     90       110     500.0             h
102        90     90       100     500.0             h
103        90     90       100     500.4             h
106       180     90       120     800.3             h
108        90     90       120     500.3             h
109       210    137       184    1860.4             h
116        60    116       141     443.0             h
127        60    109       127     382.0             h
128        90     99       125     466.4             h
129        60    114       151     384.0             h
140        60    108       135     390.0             h
144        60    136       170     470.2             h
146        60    107       136     400.0             h
149        60    110       150     409.4             h
158        60    114       150     382.8             h

## **Data Cleaning : Data Preprocessing**

Data cleaning means fixing bad data in your data set.

Bad data could be:

*   Empty cells
*   Data in wrong format
*  Wrong data
*  *Duplicates*

**Empty Cells**

Empty cells can potentially give you a wrong result when you analyze data.

Remove Rows

One way to deal with empty cells is to remove rows that contain empty cells.

In [19]:
new_data=data.dropna()
print(new_data.info())
#By default, the dropna() method returns a new DataFrame, and will not change the original.
#If you want to change the original DataFrame, use the inplace = True argument:
#new_data1=data.dropna(inplace=true)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 164 entries, 0 to 168
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Duration       164 non-null    int64
 1   Pulse          164 non-null    int64
 2   Maxpulse       164 non-null    int64
 3   Calories       164 non-null    float64
 4   1885373603296  164 non-null    object
dtypes: float64(1), int64(3), object(1)
memory usage: 7.7+ KB
None

##  **Replace Empty Values**

Another way of dealing with empty cells is to insert a new value instead.

The **fillna()** method allows us to replace empty cells with a value:

In [20]:
#Replace NULL values with the number 250:
data=pd.read_csv('data.csv')
data.fillna(250, inplace = True)
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  169 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None

**Replace Only For a Specified Columns**

The example above replaces all empty cells in the whole Data Frame.

To only replace empty values for one column, specify the column name for the DataFrame:

In [21]:
data=pd.read_csv('data.csv')
data["Calories"].fillna(130, inplace = True)
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  169 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None

**Replace Using Mean, Median, or Mode**

A common way to replace empty cells, is to calculate the mean, median or mode value of the column.

Pandas uses the mean() median() and mode() methods to calculate the respective values for a specified column:

In [22]:
data=pd.read_csv('data.csv')
x= data["Calories"].mean()
data["Calories"].fillna(x,inplace=True)

**Removing Duplicates**

Discovering Duplicates
Duplicate rows are rows that have been registered more than one time.

To discover duplicates, we can use the duplicated() method.

The duplicated() method returns a Boolean values for each row:

In [23]:
#Returns True for every row that is a duplicate, othwerwise False:
print(data.duplicated())

0      False
1      False
2      False
3      False
4      False
       ...
164    False
165    False
166    False
167    False
168    False
Length: 169, dtype: bool

**Removing Duplicates**

To remove duplicates, use the drop_duplicates() method.

In [24]:
# To drop duplicate
data.drop_duplicates(inplace=True)
print(data.duplicated())

0      False
1      False
2      False
3      False
4      False
       ...
164    False
165    False
166    False
167    False
168    False
Length: 162, dtype: bool